<html>
    <head>
        <title>
            Home
        </title>
        
    </head>

<body>
    <h1>About Us Page</h1>
    <br><br>
    <p>This will contain information about the building</p>
</body>

</html>
