<html>
    <head>
        <title>
            Home
        </title>
    </head>

<body>
    <h1>Contact Us</h1>
    <br>
    <p>This will contain information about how to get in touch with the building people</p>
</body>

</html>
